.container-added-todo{
  display: block;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  color: #3c0272;
}
h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
#task-name{
  width: 90%;
  background-color: #ececec;
  margin-top: 1rem;
  font-size: 1.4rem;
  border-radius: 5px;
  border: 2px solid white;
  outline: none;
  padding: 2px 1px 2px 10px;

  transition: all .2s ease-in-out;
}
#task-name:focus{
  border: 2px solid rgba(0, 0, 0, 0.233);
}
.button-add-task{
  display: block;
  border: none;
  border-radius: 10px;
  margin-top: 1rem;
  color: white;
  cursor: pointer;
  background-color: #562085;
  padding: 10px 15px;
  font-size: 1.3rem;

  transition: background-color .2s ease-in-out;
}
.button-add-task:hover {
  background-color: #752bb6;
}
picture{
  display: flex;
  justify-content: center;
}
.img-added{
  margin-top: 1rem;
  height: 40vh;

  object-fit: contain;
}