*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  background: #70e1f5;
  background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);
  background: linear-gradient(to right, #ffd194, #70e1f5);

}